*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
.navbar{
    background-color: black;
    height: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position:sticky;
    top: 0;
    z-index: 999;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    background-color:#3b7867;
    background-image: linear-gradient(to top, #002623 0%,#00b88d 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align:center;

}
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:1.7rem 1rem;
    height:100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display:flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #002623;
    color: #fff;
}

.button:hover{
    background: #3b7867;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #3b7867;
    transition:all 0.3s ease ;
}

@media screen and (max-width:700px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity:0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }
    .navbar__item{
        width:100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar__btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height:80px;
        margin: 0;
    }
    .navbar__toggle .bar{
        display: block;
        cursor:pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
/*Header Section CSS*/
.header{
    background-color: #000000;
}
.header__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;

}
.header__content h1{
    font-size: 5rem;
    background-color: #002623;
    background-image: linear-gradient(to top, #00544d 0%, #229c73 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.header__content h2{
    font-size: 6rem;
    background-color: #002623;
    background-image: linear-gradient(to top, #00a97f 0%, #80dcc5 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.header__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.header__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #002623 0%,#00b88d 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.header__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.header_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:0;
    height:100%;
    background-color: #80dcc5;
    transition: all 0.35s;
    border-radius: 4px;
}
.header__btn:hover{
    color: #fff;
}
.header__btn:hover:after{
    width: 100%;
}
.header_img--container{
    text-align: center;
}

/*Main Section CSS*/
.main{
    background-color: #e1e1e1;
}
.main__container{
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;

}
.main__content h1{
    font-size: 4rem;
    background-color: #002623;
    color: white;
    margin: 60px 0px 30px 0px;
    padding: 20px;
    text-align: center;
}

.main__content h2{
    font-size: 2.2rem;
    background-color: #bdd6cf;
    color: #1f1f1f;
    margin: 30px 0px;
    padding: 5px 20px;
    text-align: left;
}
.main__content p {
    font-size: 1.4rem;
    background-color: #eaeaea;
    color: #1f1f1f;
    padding: 20px 20px;
    text-align: left;
}

.main__content a {
    font-size: 1.4rem;
    color: #1f1f1f;
    decoration: none;
}
.main__content__box{
    background-color: #eaeaea;
    margin: 20px 0px;
    padding: 20px 50px;
    text-align: left;
}
.main__content__iframe{
    display: block;
    align-items: center;
}
iframe{
    
    width: 100%;
    height: 500px;
}

/*#002623 0%,#00b88d 100%
#229c73 0%, #00544d 100%

/* The dropdown container */


  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #002623;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition:all 0.3s ease ;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3b7867;
    transition:all 0.3s ease ;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .tutorial__links{
    color: #000000;
    text-decoration: none;
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
    font-size: 2.2rem;
    background-color: #bdd6cf;
    color: #1f1f1f;
    margin: 30px 0px;
    padding: 5px 20px;
    text-align: left;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .img{
      width: 100%;
      height: auto;
  }
